services:

  opa-bundle:
    image: openpolicyagent/opa:latest-debug
    ports:
      - "8182:8182"

    environment:
      GHCR_TOKEN: ${GHCR_TOKEN}
    
    volumes:
      - ./OPA/conf:/etc/opa/conf

    healthcheck:
      test: ["CMD", "curl", "http://localhost:8182/health"]

    command: >
      run --server
      --log-level debug --log-format text
      -c /etc/opa/conf/config-pull.yaml
      --addr http://0.0.0.0:8182
      --watch
      --authentication=token --authorization=basic

    networks:
      default:
        aliases:
          - opa-bundle.test.example

  opa-local:
    image: openpolicyagent/opa:latest-debug
    ports:
      - "8181:8181"
    
    volumes:
      - ./OPA:/etc/opa

    healthcheck:
      test: ["CMD", "curl", "http://localhost:8181/health"]
    
    command: > 
      run --server /etc/opa/src
      --log-level debug
      -c /etc/opa/conf/config-push.yaml
      --addr http://0.0.0.0:8181
      --watch
      --authentication=token --authorization=basic

    networks:
      default:
        aliases:
          - opa-local.test.example

  client:
    image: indigoiam/robot-framework:latest

    volumes:
      - ./OPA/examples:/opa-examples
      - ./oidc-agent:/home/test/.config/oidc-agent
      - ./scripts:/scripts

    healthcheck:
      test: ["CMD", "curl", "https://google.com"]

    entrypoint: sleep infinity