- name: Ensure /etc/opa exists
  ansible.builtin.file:
    path: /etc/opa
    state: directory
    owner: root
    group: root
    mode: '0755'

- name: Ensure python3-cryptography is installed
  ansible.builtin.dnf:
    name: python3-cryptography
    state: present

- name: Generate private key if not existing
  community.crypto.openssl_privatekey:
    path: "{{ opa_key_file }}"
    size: 4096
    type: RSA
    mode: '0600'
    state: present
    backup: true
  register: opa_privatekey
  ignore_errors: true

- name: Generate CSR with subject
  community.crypto.openssl_csr:
    path: /etc/opa/hostcsr.pem
    privatekey_path: "{{ opa_key_file }}"
    common_name: "{{ inventory_hostname }}"
    state: present

- name: Generate self-signed certificate from CSR
  community.crypto.x509_certificate:
    path: "{{ opa_cert_file }}"
    privatekey_path: "{{ opa_key_file }}"
    csr_path: /etc/opa/hostcsr.pem
    provider: selfsigned
    selfsigned_not_after: +365d
    backup: true
    mode: '0644'
    state: present